{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <div class="row mt-5">
        <div class="col-md-3">
        </div>
        <div class="col-md-5">


            <div class="card text-center">
                <div class="card-block">
                    <h4 class="card-title">Проверьте почту</h4>
                    <p class="card-text">{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
{% endblock fos_user_content %}
