{% extends "@NCMFUser/layout.html.twig" %}

{% trans_default_domain 'NCMFUserBundle' %}

{% block body %}

    <div class="text-center">
        <i class="fas fa-user fa-5x mb-4"></i>
        <h1 class="h3 mb-3 font-weight-normal">Поздравляем!</h1>
        <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
        <p><a href="/">На главную</a></p>
    </div>


{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% include "@NCMFUser/Security/styles.html.twig" %}
{% endblock %}
