{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-md-6">
        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <button class="btn btn-success" type="submit"><i class="far fa-save"></i> {{ 'profile.edit.submit'|trans }}</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>
